
/*                      Tabela                  */



/* Evento de tracejado para cada linha */
.tabela{

    width: 100%;
    border-collapse: collapse;
    margin-top: 50px;
    position: relative;

    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: nowrap;
    white-space: nowrap;
    gap: 340%;
}
.tabela th#op{
    position: relative;
}
.tabelaUsuarios .editandoCliente {
    border: 3px solid rgb(37, 197, 5);
}



th{
    text-align: left;
    font-weight: bold;
    
    
}
.controle{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.322);
    border-radius: 10px;
    padding-bottom: 50px;
    padding: 0px 2%;
    margin-top: 35px;
}
.tabelaUsuarios {
    width: 100%;
    border-collapse: collapse;
    margin-top: 50px;
    
}
.tabelaUsuarios button {
    border: none;
    background-color: rgba(0,0,0,0);
    cursor: pointer;
    margin-left: 20px;
}

.tabelaUsuarios tr {
    padding: 0 5px;
    font-size: 20px;
    padding-bottom: 30px;
    transition: all 1s;
}
.tabelaUsuarios tr:hover {
    color: white;
    background-color: rgb(5, 0, 155);
}
.tabelaUsuarios td {
    
    padding: 0 5px;
    padding-bottom: 5px;
}

.tabelaUsuarios td:active {
    background-color: rgba(87, 214, 28, 0.103);
    
    
}


.campoOp{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;

}
.campoOp .editar{
    text-align: center;
    font-size: 20px;
    color: #0004ff;
    cursor: pointer;
    padding: 18px 10px;
    border: none;
    transition: all 1s;
}
.campoOp .editar:hover{
    transform: scale(1.2);
    transition-duration: 0s;
}

.campoOp .remover{
    text-align: center;
    font-size: 20px;
    color: #ff0000;
    cursor: pointer;
    padding: 18px 10px;
    border: none;
    transition: all 1s;
}
.campoOp .remover:hover{
    transform: scale(1.2);
    transition-duration: 0s;
}


@media screen and (max-width: 1400px) {

    .tabela{
        width: 70%;
    }
    
    
    
    
    
}
@media screen and (max-width: 990px) {
    
    
    
    .tabela{
        width: 50%;
        
    }

    
    
}
@media screen and (max-width: 770px) {
    
    
    
    .tabela{
        width: 30%;
        gap:80px;

    }
    .tabelaUsuarios tr {
        width: 100%;
        font-size: 15px;
    }
    

    
    
}
@media screen and (max-width: 500px) {
    body{
        overflow-x: hidden!important;
    }  
    
}
